.myNavBar .navbar-brand, .myNavBar .navbar-text {
    color: white;
    margin-left: 10%;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand:hover {
    color: white !important;
    text-decoration: underline;
}

nav .navbar-nav li a {
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
    margin-right: 1.5vw;
}

.navbar-light .nav-item>.nav-link.active {
    color: white !important;
    text-decoration: underline;
}

nav .navbar-nav li a:active, nav .navbar-nav li a:hover {
    color: white !important;
    text-decoration: underline;
}

#logOutLink {
    color: rgb(1, 87, 155) !important;
}

html, body {
    height: 100%;
    margin: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: rgb(84, 197, 248);
}

.homeDiv {
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url('images/back.jpg');
}

.homeElements {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#welcomeText {
    color: white;
    font-weight: 100;
}

#dynamicText {
    color: white;
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;
}

.txt-type>.txt {
    border-right: 0.1rem solid white;
}

.myWorkBtn {
    margin-top: 2%;
    transition: 0.5s;
    border-color: rgb(61, 147, 112);
    background-color: rgb(61, 147, 112);
}

#btnText {
    font-size: 3vw;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.myWorkBtn:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(42, 102, 78);
}

.aboutDiv {
    height: 100%;
    margin: 0;
}

.myPicture {
    margin-left: 5%;
    position: absolute;
    margin-top: 30%;
}

.backWaveImg {
    position: absolute;
    width: 100%;
}

.downloadBtn {
    transition: 0.5s;
    border-color: rgb(61, 147, 112);
    background-color: rgb(61, 147, 112);
}

.downloadBtn:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(42, 102, 78);
}

#myPic {
    width: 100%;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

.picName {
    padding-top: 8%;
}

#name {
    color: white;
    margin-top: 3%;
    font-size: 5vw;
    font-weight: 600;
}

.aboutInformation {
    margin-top: 3%;
}

#meHeading {
    color: rgb(42, 102, 78);
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.aboutMe {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    border-left: 0.2vw solid rgb(42, 102, 78);
}

#aboutMeText {
    font-size: 1.1vw;
    color: black;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
}

.mySkills {
    padding-top: 2%;
    border-right: 0.2vw solid rgb(42, 102, 78);
}

#skillsList {
    list-style: none;
}

#skill {
    text-align: right;
    margin-top: 3%;
    font-family: 'Nunito', sans-serif;
}

#skillName {
    text-align: right;
}

#skillHeading {
    text-align: right;
    color: rgb(42, 102, 78);
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.progress {
    background-color: lightgrey;
    height: 5px;
}

.progress-bar {
    border-radius: 50px;
    height: 10px;
    background-color: rgb(42, 102, 78);
}

.footerContainer {
    background-color: rgb(65, 65, 65);
    bottom: 0;
    left: 0;
    height: 13%;
}

#copyright {
    color: white;
    font-size: 100%;
}

.headerLinks {
    text-align: center;
}

#headLink {
    text-decoration: none;
    margin-left: 5%;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.imgDiv {
    top: 10%;
}

.up {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.377);
    top: -5.5rem;
    right: 0rem;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: auto;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 white;
        /* box-shadow: 0 0 0 0 rgba(65, 136, 132, 0.99); */
    }
    100% {
        box-shadow: 0 0 0 1rem rgba(65, 136, 132, 0);
    }
}